

body
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --main-bg-color: #EEEEEE;
    --main-text-color: #0E0E0E;
    --main-primary-color: #1D57AE;
    --main-primary-highlight-color: #3f84eb;
    --shadow-text-color: #181818; /* unused */

    --button-bg-color: var(--main-primary-color);
    --button-bg-color-hover: #1c65d1;
    --button-bg-color-active: #18488f;
    --button-bg-color-disabled: #1d57ae83;
    --button-text-color: var(--main-bg-color);
    --button-text-color-hover: var(--main-bg-color);
    --button-text-color-disabled: var(--main-bg-color);

    background-color: var(--main-bg-color);
}
body.dark
{
    --main-bg-color: #0E0E0E;
    --main-text-color: #EEEEEE;
    --main-primary-color: #1D57AE;
    --shadow-text-color: #181818; /* unused */

    --button-bg-color: var(--main-primary-color);
    --button-bg-color-hover: #1c65d1;
    --button-bg-color-active: #18488f;
    --button-bg-color-disabled: #1d57ae83;
    --button-text-color: var(--main-text-color);
    --button-text-color-hover: var(--main-bg-color);
    --button-text-color-disabled: var(--main-bg-color);
}

.GameElementButton
{
    width:auto;
    height: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: x-large;
    transition: transform,background-color 0.05s;
    cursor: pointer;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);

    /* Used to stop the text selection on rapid clicks */
    /* https://stackoverflow.com/a/4407335/15190248 */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
/* Button hover */
.GameElementButton:hover:not(.disabled)
{
    /* Decided against brightness because it ruins quiz stylings. */
    /* filter: brightness(1.2); */
    background-color: var(--button-bg-color-hover);
    color: var(--button-text-color-hover);
}
.GameElementButton:hover:not(.disabled):not(.static)
{
    transform: scale(1.05);
}
/* Button pressed */
.GameElementButton:active:not(.disabled)
{
    background-color: var(--button-bg-color-active);
}
.GameElementButton:active:not(.disabled):not(.static)
{
    transform: scale(0.95);
}
.GameElementButton.disabled
{
    cursor: default;
    /* filter: brightness(0.5); */
    background-color: var(--button-bg-color-disabled);
    color: var(--button-text-color-disabled);
}
.GameElementButton>.material-symbols-outlined
{
    color: var(--button-text-color);
}

audio::-webkit-media-controls-panel
{
    background-color: var(--main-primary-color);
}
/* tests for dark mode scheme */
/* audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button,
audio::-webkit-media-controls-fullscreen-button,
audio::-webkit-media-controls-rewind-button,
audio::-webkit-media-controls-return-to-realtime-button,
audio::-webkit-media-controls-toggle-closed-captions-button
{
    background-color: red;
    border-radius: 50px;
}
audio::-webkit-media-controls-timeline
{
    background-color: green;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
audio::-webkit-media-controls-mute-button
{
    background-color: green;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display
{
    color: white;
} */


/* Main display stuff */

#MainContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    /* text-shadow: var(--shadow-text-color) 0 0 3px; */
}

#NavArea
{
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    background-color: var(--main-primary-color);
    width: 100%;
    height: 4rem;
    z-index: 99;
}
.nav-button
{
    aspect-ratio: 1 / 1;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
}
.NavButtonLabel
{
    display:none;
}
.nav-button .material-symbols-outlined
{
    font-size: 2rem;
}
.nav-divider
{
    border-left: 2px solid var(--button-text-color);
    /* border-right: 1px solid var(--main-text-color); */
}

@keyframes icon-switch-out-clockwise {
    0% { transform: rotate(0deg); opacity: 1; }
    70% { opacity: 0; }
    100% { transform: rotate(360deg); opacity: 0; }
}
@keyframes icon-switch-in-clockwise {
    0% { transform: rotate(0deg); opacity: 0; }
    30% { opacity: 0; }
    100% { transform: rotate(360deg); opacity: 1; }
}
@keyframes icon-switch-out-counterclock {
    0% { transform: rotate(360deg); opacity: 1; }
    70% { opacity: 0; }
    100% { transform: rotate(0deg); opacity: 0; }
}
@keyframes icon-switch-in-counterclock {
    0% { transform: rotate(360deg); opacity: 0; }
    30% { opacity: 0; }
    100% { transform: rotate(0deg); opacity: 1; }
}

.icon-flip>div{
    /* position: relative; */
    /* width:fit-content;
    height:fit-content;
    width: 50%;
    height:50%; */
    /* position:relative; */
    width:2rem;
    height:2rem;
    position: relative;
    /* width:100%;
    height:100%; */
}
/* Shared values */
.icon-flip-initial,.icon-flip-alt
{
    position: absolute;
    left:0;
    top:0;
    animation-fill-mode: both;
    animation-duration: 600ms;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}
.icon-flip-initial
{
    opacity: 1;
}
.icon-flip-alt
{
    opacity: 0;
}

.icon-flip-on .icon-flip-initial
{
    animation-name: icon-switch-out-clockwise;
}
.icon-flip-on .icon-flip-alt
{
    animation-name: icon-switch-in-clockwise;
}
.icon-flip-off .icon-flip-initial
{
    animation-name: icon-switch-in-counterclock;
}
.icon-flip-off .icon-flip-alt
{
    animation-name: icon-switch-out-counterclock;
}

#StartButtonContainer
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* font-variation-settings: 'OPSZ' 40; */
}
#StartButtonContainer .material-symbols-outlined
{
    font-size: 5rem;
}
.StartButton
{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 2rem;
    padding: 15px;
    aspect-ratio: 1/1;
}

/* Game classes */

#GameArea
{
    /* background-color: green; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#GameSelector
{
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    height: 100%;
    justify-content:center;
    /* align-items: center; */
    align-content: space-around;
    display: flex;
    flex-direction: row;
    /* background-color: pink; */
    flex-wrap: wrap;
    gap: 0rem 2rem;
}

#GameSelector .GameElementButton
{
    width: 200px;
    height: 200px;
}

@media (min-width: 992px)
{
    .NavButtonLabel
    {
        padding-left: 0.3rem;
        padding-right: 0.25rem;
        display:block;
    }
    #NavArea
    {
        gap:30px;
    }
    /* Aspect ratio doesn't work here for some reason, hardcoded */
    /* #colorSchemeButton
    {
        width: 4rem;
    } */

    #StartButtonContainer
    {
        flex-direction: row;
    }
    #StartButtonContainer .material-symbols-outlined
    {
        font-size: 8rem;
    }
    .StartButton
    {
        font-size: 4rem;
    }
    
    #GameSelector .GameElementButton
    {
        /* margin: 0.5rem; */
        width: 20vw;
        height: 20vw;
    }

}