
/* Flexbox help found here: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

body
{
    --quiz-incorrect-color: #bd2121;
    --quiz-correct-color: #40bd21;
}
body.dark
{
    --quiz-incorrect-color: #bd2121;
    --quiz-correct-color: #40bd21;
}

#QuizContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    /* align-content: space-between; */
    /* align-content: space-around; */
    align-content: center;
    /* background-color: blue; */
    width: auto;
    align-items: center;
    /* width: 100%;
    height: 100%; */
}

#QuizMessage
{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    /* box-sizing: border-box; */
    /* margin: 10px; */
    font-size: x-large;
    /* background-color: yellow; */
}

.QuizOption
{
    width: 15rem;
    height: 3rem;
    /* text-align: left; */
    font-size: large;

}
.QuizOption.Fail
{
    background-color: var(--quiz-incorrect-color);
}
.QuizOption.Success
{
    background-color: var(--quiz-correct-color);
}

#QuizNextButton
{
    font-size: large;
    width: 5rem;
    height: 3rem;
}

#QuizStats
{
    background-color: var(--main-primary-color);
    color: var(--main-bg-color);
    border-radius: 50%;
    font-size:2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width:100%;
    width: 400px;
    aspect-ratio: 1 / 1;
    /* width: 300px; */
    /* height: 300px; */
    /* background-color: black; */
}
#QuizStatsPercent
{
    font-size:3rem;
}
#QuizStatsAnswered
{
    margin-top: 10px;
    font-size: 1.25rem;
}

@media (min-width: 992px)
{
    
    #QuizStats
    {
        font-size: 3rem;
    }
    #QuizStatsPercent
    {
        font-size:4rem;
    }
    #QuizStatsAnswered
    {
        font-size: 2rem;
    }
}

