
@keyframes flash
{
    0% { background-color:var(--main-primary-highlight-color); }
    50% { background-color: #ffffffd0; }
    100% { background-color: var(--main-primary-highlight-color); }
}
.flash
{
    animation-name: flash;
    animation-duration: 500ms;
    animation-timing-function:ease-in-out;
    animation-delay: 0.3s;
    animation-iteration-count: 1;
}
@keyframes flash-twice
{
    0% { background-color:var(--main-primary-highlight-color); }
    25% { background-color: #ffffffd0; }
    50% { background-color: var(--main-primary-highlight-color); }
    75% { background-color: #ffffffd0; }
    100% { background-color: var(--main-primary-highlight-color); }
}
.flash-twice
{
    animation-name: flash-twice;
    animation-duration: 500ms;
    animation-timing-function:ease-in-out;
    animation-delay: 0.3s;
    animation-iteration-count: 1;
}

#PairsContainer
{
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    justify-content: center;
    width: 100%;
    height: 100%;
    /* aspect-ratio: 1/1; */
    /* border: 5px solid red; */
}
.PairsContainerRow
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px;
}

/* Box flip help at below */
/* https://www.w3schools.com/howto/howto_css_flip_card.asp */
.PairsBox
{
    flex-grow: 1;
    aspect-ratio: 1/1;

    background-color: transparent;
    perspective: 1000px;

}
.PairsBoxInner
{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.3s;
    transform-style: preserve-3d;
}
.PairsBoxInner .material-symbols-outlined
{
    position: relative;
    font-size: 15vw;
    top: 15%;
    /* transform: translateY(-50%); */
    /* padding-top: 10px; */
}
.PairsBox.flipped .PairsBoxInner
{
    transform: rotateY(180deg);
}
.PairsBoxFront, .PairsBoxBack
{
    position: absolute;
    width: 100%;
    height: 100%;
    /* -webkit-backface-visibility: hidden; Safari */
    backface-visibility: hidden;
}
.PairsBoxFront
{
    /* Not needed because these are a game button class */
    /* background-color: var(--main-primary-color); */
}
.PairsBoxBack
{
    background-color: var(--main-primary-highlight-color); /* previously #1e90ff dodgerblue */
    
    transform: rotateY(180deg);

    /* Used to stop cheating by selecting and dragging */
    /* https://stackoverflow.com/a/4407335/15190248 */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Score circle */

@keyframes pairs-container-grow {
    /* 0% { width: 0%; }
    100% { width: 100%; } */
    0% { transform: scale(0); }
    100% {transform: scale(1); }
}
.PairsScoreContainerBack,.PairsScoreContainer
{
    animation-name: pairs-container-grow;
    animation-timing-function:ease;
    animation-fill-mode: forwards;
    overflow: hidden;
    position: absolute;
    align-self: center;
}
.PairsScoreContainerBack
{
    background-color: var(--main-bg-color);
    border-radius: 50%;
    transform: scale(0);
    width: 200%;
    /* height: 0%; */
    aspect-ratio: 1/1;
    animation-delay: 900ms;
    animation-duration: 1300ms;
}
.PairsScoreContainer
{
    background-color: var(--main-primary-color);
    border-radius: 50%;
    transform: scale(0);
    width: 80%;
    aspect-ratio: 1/1;
    animation-delay: 1300ms;
    animation-duration: 1000ms;

    display: flex;
    flex-direction: column;
    /* align-content: center; */
    justify-content: center;
    font-size: xx-large;
    text-align: center;

    /* Seems to be an easy way to allow \n */
    white-space: pre-line;
}



@media (min-width: 992px)
{
    #PairsContainer
    {
        /* height: 400px; */
        /* width: 400px; */
        /* aspect-ratio: 1/1; */
        /* width: 800px; */
        /* height: 800px; */
        
        justify-content: center;
        gap: 2vw;
    }
    .PairsContainerRow
    {
        /* gap: 25px; */
        gap: 2vw;
        padding: 0px;
        
        justify-content:center;
    }
    .PairsBox
    {
        width: 8vw;
        /* height: 10vw; */
        flex-grow: 0;
        aspect-ratio: 1/1;
    }
    .PairsBoxInner .material-symbols-outlined
    {
        position:relative;
        font-size: 6vw;
        top: 15%;
    }

    .PairsScoreContainer
    {
        height: 30vw;
        width: 30vw;
        font-size: 2.25vw;
    }
}